* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, 'Segoe UI', sans-serif;
  background-color: #a0a0a0;
  color: #333;
  line-height: 1.6;
  padding: 2rem;
}


header {
  text-align: center;
  margin-bottom: 3rem;
}

header h1 {
  font-size: 4rem;
  font-weight: 600;
}


#projectContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 5rem;
}


.projectDisplayer {
  display: flex;
  flex-direction: column;
  background: gainsboro;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  min-width: 0;
}





.projectDisplayer a {
    align-self: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  color: #111;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.projectDisplayer a:hover {
  text-decoration: underline;
}

.projectDisplayer p {
  font-size: 1.7rem;
  color: #666;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
