#screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    background-color: gray;
}

#options {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: darkgray;
    z-index: 100;
    height: 20rem;
    width: 20rem;
    border-radius: 2rem;
}

#zoomPane {
    position: inherit;
    top: 3rem;
    left: 5rem;
}

#inputPane {
    position: inherit;
    top: 7rem;
    left: 5rem;
}

#offsetPane {
    position: inherit;
    top: 13rem;
    left: 5rem;
    display: flex;
    flex-direction: column;

}

#Canvas {
    border: 1px solid black;
}

#displayEqn {
    position: fixed;
    top: 10rem;
    left: 5rem;
}