body {
    margin: 0;
    padding: 0;
}
#page {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
}

#left-pane {
    display: flex;
    flex-direction: column;
    background-color: gray;
    flex-grow: 0.3;
    align-self: stretch;
    
}
#main-pane {
    display: flex;
    background-color: gainsboro;
    flex-grow: 4;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

#title {
    align-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem;
}

#lab-selection {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.data {
    display: flex;
    background-color: rgb(192, 175, 153);
    align-self: center;
    border-radius: 1rem;
    align-items: center;
    width: fit-content;
    padding: 0.5rem;
}

#dashboard {
    border-radius: 1rem;
    align-self: center;
}

#lab-topology {
    display: flex;
    align-items: center;
}

#temp, #hum, #lum, #timestamp {
    background-color: gray;
    padding: 0.5rem;
    box-shadow: 1rem;
    border-radius: 0.5rem;
}

#option-pane {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 0;
    margin-top: auto;
    padding: 1rem;
}

.selected {
    background-color: gainsboro;
    font-weight: bold;
    color: blue;
}

.lab-button {
    border-radius: 1rem;
    margin: 0.1rem;
}

#charts {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    border-radius: 1rem;
}

#data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    overflow: auto;
    max-height: 50vh;
    border-radius: 5px;
    background-color: white;
}

#tab-division {
    display: flex;
    margin-top: 1rem;

}