body {
    background-color: gainsboro;
    font-family: fantasy;
    margin-top: 3rem;
    
}
#content {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
    
}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

#top-title {
    font-weight: bold;
    font-size: 4rem;

}

p {
    font-size: 2rem;
}

#diagram-container {
    border: 1px solid black;
}

#data-history {
    position: fixed;
    top: 3rem;
    right: 3rem;
}

#last-changes {
    display: flex;
    font-size: xx-large;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    background-color: darkgray;
    min-width: 100px;
    min-height: 100px;
    border-radius: 1rem;
    padding: 1rem 0.5rem;
    
}

