body {
    background-color: gainsboro;
    font-family: fantasy;
    margin-top: 3rem;
    
}
#content {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    
}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

#top-title {
    font-weight: bold;
    font-size: 4rem;

}

p {
    font-size: 2rem;
}

#diagram-container {
    border: 1px solid black;
}

#last-changes {
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
    width: 100px;
    height: 100px;
    position: sticky;
    
}

