body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardImage {
    margin: 1rem 1rem;
}


button {
    background-color: gainsboro;
    border-radius: 10rem;
    padding: 0.5rem;
    font-family: fantasy;
    font-size: large;
    margin: 1rem;
    
}

#cardsLeft {
    text-decoration: dotted;
    color: white;
    font-family: fantasy;
    padding: 1rem;
}


#pageHeader {
    color: white;
    font-size: 6rem;
    padding: 2rem;
    outline: 5rem;
    outline-color: gainsboro;
}